<nav class="navbar navbar-inverse">
        <div class="container-fluid">
          <div class="navbar-header">
            <a class="navbar-brand" routerLink="/admin/score">SFEIR-SOCCER</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a routerLink="/admin/score" >Score</a></li>
            <li><a routerLink="/admin/players" >Players</a></li>
          </ul>
          <div class="dropdown nav navbar-nav navbar-right" style="margin-top: 5px">
            <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">Administrator
            <span class="caret"></span></button>
            <ul class="dropdown-menu">
              <li><a href="javascript:void(0)" (click)="logout()">Logout</a></li>
            </ul>
          </div>
          
        </div>
</nav>