<div class="container">
  <div [hidden]="submitted">
    <h1>Login</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" class="form-control" id="mail"
               required
               [(ngModel)]="user.mail" name="mail"
               #mail="ngModel">
        <div [hidden]="mail.valid || mail.pristine"
               class="alert alert-danger">
          Email is required
        </div>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="user.password" name="password"
               #password="ngModel" >
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
      </div>
 
      <button type="submit" class="btn btn-success" >Submit</button>
      <app-error-list [errors]="errors"></app-error-list>
    </form>
  </div>
</div>

