<div class="row">
    <app-alert></app-alert>
    <div class="centered">
        <h1>Login</h1>
        <form (ngSubmit)="loginForm.form.valid && login()" #loginForm="ngForm" novalidate class="login-form">
            <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !mail.valid }">
                <label for="mail">Email</label>
                <input type="text" class="form-control" name="mail" [(ngModel)]="user.mail" #mail="ngModel" required />
                <div *ngIf="loginForm.submitted && !mail.valid" class="help-block">Email is required</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': loginForm.submitted && !password.valid }">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" [(ngModel)]="user.password" #password="ngModel" required />
                <div *ngIf="loginForm.submitted && !password.valid" class="help-block">Password is required</div>
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Login</button> d
            </div>
        </form>
    </div>
</div>
<div class="row" class="centered">
    <app-loader></app-loader>
</div>