<div class="row">
  <div class="centered">
    <button class="btn btn-primary" (click)="changeGameState(false)">Start the tournament</button>
    <button class="btn btn-danger" (click)="changeGameState(true)">Stop the tournament</button>
  </div>
  <div class="centered">
    <h1>Broadcast a message </h1>
    <form (ngSubmit)="broadcastForm.form.valid && broadcast()" #broadcastForm="ngForm" novalidate class="broadcast-form">
      <div class="form-group" [ngClass]="{ 'has-error': broadcastForm.submitted && !m.valid }">
        <label for="message">Message</label>
        <textarea class="form-control" name="message" [(ngModel)]="message" #m="ngModel" required maxlength="100"></textarea>
        <div *ngIf="broadcastForm.submitted && !m.valid" class="help-block">Message is required</div>
        <div *ngIf="broadcastForm.submitted && m.maxlength">Message must must not exceed 100 characters long.</div>
      </div>
      <div class="form-group">
        <button class="btn btn-primary">Send</button>
      </div>
    </form>
    <b>Last Message : {{lastMessage}}</b>
  </div>
  <div>
    <app-loader></app-loader>
  </div>
</div>