.dismiss-button {
    float: right;
    padding: 16px;
    margin: -16px;
    color: inherit;
    text-align: center;
    cursor: pointer;
    background: none;
    border: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    opacity: 0.6;
}