<div class="container">
  <div [hidden]="submitted">
    <h1>Sign Up</h1>
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
      <div class="form-group">
        <label for="mail">Email</label>
        <input type="text" class="form-control" id="mail"
               required
               [(ngModel)]="user.mail" name="mail"
               #mail="ngModel">
        <div [hidden]="mail.valid || mail.pristine"
               class="alert alert-danger">
          Email is required
        </div>
        <label for="firstName">First Name</label>
        <input type="text" class="form-control" id="firstName"
               required
               [(ngModel)]="user.firstName" name="firstName"
               #firstName="ngModel">
        <div [hidden]="firstName.valid || firstName.pristine"
               class="alert alert-danger">
          First Name is required
        </div>
        <label for="lastName">Last Name</label>
        <input type="text" class="form-control" id="lastName"
               required
               [(ngModel)]="user.lastName" name="lastName"
               #lastName="ngModel">
        <div [hidden]="lastName.valid || lastName.pristine"
               class="alert alert-danger">
          Last Name is required
        </div>
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password"
               required
               [(ngModel)]="user.password" name="password"
               #password="ngModel" >
        <div [hidden]="password.valid || password.pristine"
             class="alert alert-danger">
          Password is required
        </div>
        <label for="contact">Voulez-vous être contactés par SFEIR ?</label>
        <input type="checkbox" id="contact"
               required
               [(ngModel)]="user.contact" name="contact">
      </div>
 
      <button type="submit" class="btn btn-success" >Submit</button>
      <app-error-list [errors]="errors"></app-error-list>
    </form>
  </div>
</div>

