<div class="container">
    <div class="row">

        <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th scope="col">Rank</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Score</th>
              </tr>
            </thead>
            <tbody>
          
              <tr *ngFor="let player of (players | slice:0:3) " >
                <td class="green-background">
                  {{player.rank}}
                </td>
                <td class="green-background">
                  {{player.firstName}}
                </td>
                <td class="green-background">
                  {{player.lastName}}
                </td>
                <td class="green-background">
                  {{player.score}}
                </td>
              </tr>
          
              <tr *ngIf="players.length > 3 && startIndex > 3 ">
                  <td>
                    ..
                  </td>
                  <td>
                    ..
                  </td>
                  <td>
                    ..
                  </td>
                  <td>
                    ..
                  </td>
                </tr>
          
              <tr *ngFor="let player of (players | slice:startIndex:(startIndex+howMuch))">
                <td>
                  {{player.rank}}
                </td>
                <td>
                  {{player.firstName}}
                </td>
                <td>
                  {{player.lastName}}
                </td>
                <td>
                  {{player.score}}
                </td>
                </tr>
          
            </tbody>
          </table>



    </div>
</div>
